/* ---------------index.html------------ */
/* ---------------index.html-------------*/

#title {
  background-color: rgba(0, 0, 255, 0.2);
  text-align: center;
  margin-top: -10px;
  margin-bottom: -15px;
}

.kamayan {
  text-align: center;
  background-color: rgba(201, 201, 16, 0.2);
}

.recipes,
.filipino-recipes {
  font-size: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 0, 0, 0.2);
}

#unorder {
  width: 450px;
  display: table;
  margin: 0 auto;
}

#unorder .list {
  display: table-cell;
}

/* ------------------foods----------------- */
/* ------------------foods------------------*/

#lumpia {
  background-color: rgba(0, 0, 255, 0.2);
  text-align: left;
  margin-top: -10px;
  margin-bottom: -15px;
  width: 1000px;
}

.ingredients {
  columns: 2;
  max-width: 1000px;
  background-color: rgba(0, 0, 255, 0.2);
}

.food {
  text-align: left;
  background-color: rgba(201, 201, 16, 0.2);
  width: 1000px;
}

.para1 {
  text-align: left;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.2);
  width: 1000px;
}
