#title {
  background-color: rgba(0, 0, 255, 0.2);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.kamayan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 0, 0.2);
}

.recipes,
.filipino-recipes {
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
}

ul {
  width: 400px;
  display: table;
  table-layout: center;
  margin: 0 auto;
}
ul li {
  display: table-cell;
}
ul li a {
  display: block;
  justify-content: center;
}
